.username {
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: green;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
    padding: 5px;
    margin-top: 5px;
}


.saved-message {
    background-color: green;
    color: white;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}

