/*
.username-container {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.username-textarea {
    height: 40px;
    width: 200px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.username-button {
    height: 40px;
    width: 80px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.username-button:hover {
    background-color: #388E3C;

}
*/


/* This is a comment in CSS */



